// Скругления
:root {
  --a-borderRadius--4px: 4px; // Стандартный шаг
  --a-borderRadius--8px: 8px; // Двойной шаг
  --a-borderRadius--10px: 10px; // Странный шаг
  --a-borderRadius--16px: 16px; // Странный шаг
  --a-borderRadius--100px: 100px; // Полное скругление
}
